{% extends 'Match_Ready/base.html' %}

{% block title_block %}
    Add Match
{% endblock %}


{% block body_block %}

    <h1>Create a new match</h1>

    <form id="add_match_form" method="post" action ="{% url 'Match_Ready:add_match' %}">
        {% csrf_token %}
        Team 1 ID<input type ="text" name ="team1" size="50" /><br />
        Team 2 ID<input type ="text" name ="team2" size="50" /><br />
        Date <input type ="datetime-local" name = "match_date" size = "40" /> <br />
        <input type="submit" value="submit" />
    </form>

    {% if errors %} 
    <div class ="errors">
        {% for error in errors.values %}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
