{% extends 'Match_Ready/base.html' %}

{% block title_block %}
    Announcements
{% endblock %}


{% block body_block %}
 <h1>Announcements</h1>

    {% if teamsheet %}
    <h2>Up coming matches are: </h2>

    {% else %}
    <h2>There are no upcoming matches at the moment</h2>
        {% if coach %}
            <p>Check back later to see any changes or if you are a coach add a new match <a href="{% url 'Match_Ready:add_match' %}">here</a></p>
        {% else %}
            <p></p>
        {% endif %}
    {% endif %}




</div>
{% endblock %}