<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <title>
            {% block title_block %}
                Match Ready!
            {% endblock %}
        </title>
    </head>

    <body>

        <!-- Sidebar -->
        <div id="sidebar">
            <ul id="sidebar-list">
                <li><a href="{% url 'Match_Ready:my_team' %}">My Team</a></li>
                <li><a href="{% url 'Match_Ready:find_team' %}">Find new team</a></li>
                <li><a href="{% url 'Match_Ready:make_team' %}">Make team</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        <div id="main-content">
            
            <!-- Navbar -->
            <div id="navbar">
                <ul id="nav-list">
                    <li><a href="{% url 'Match_Ready:index' %}">Home</a></li>
                    <li><a href="{% url 'Match_Ready:about' %}">About</a></li>
                    <li><a href="{% url 'Match_Ready:announcements' %}">Announcements</a></li>
                    <li><a href="{% url 'Match_Ready:login' %}">Login</a></li>
                    <li>Logout</li>
                </ul>
            </div> <br>

            <div id="main">
                {% block body_block %}
                {% endblock %}
            </div>



            <div id="footer">
                <div id="contact-info">
                    <p>Email: thisistoomuch@saddness.co.uk</p>
                    <p>Phone: 07951278577</p>
                    <p>Letter Box: 77 Handsome Av.</p>
                </div>

                <div id="external-links">
                    <p>External Links</p>
                    <ul>
                        <li><a href="https://www.bbc.co.uk/sport">BBC Sport</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>