{% extends 'Match_Ready/base.html' %}

{% block title_block %}
    Create New Team
{% endblock %}


{% block body_block %}
    <h1>Create a New Team</h1>


    <div>
    <form id="NewTeam" method="post" action="{% url 'Match_Ready:create_team' %}">
        {% csrf_token %}
        Team Name: <input type="text" name="team_name" size="50" /><br />
        Team Id: <input type="teamID" name="team_ID" size="50" /><br />
        <input type="submit" value="submit" />
    </form>
    </div>

    {% if errors.team_name %}<div class="errors">{{ errors.team_name }}</div>{% endif %}
    {% if errors.team_ID %}<div class="errors">{{ errors.team_ID }}</div>{% endif %}
{% endblock %}