{% extends 'Match_Ready/base.html' %}
{% load static %} {# Usually good practice to load static near the top if needed #}

{% block title_block %}
    Sign Up
{% endblock %} {# <-- Fixed the missing %} here and added line breaks #}

{% block body_block %}
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'Match_Ready:signup' %}">
        {% csrf_token %}
        {{ form.as_p }} {# Renders the form fields as paragraphs #}
        <input type="submit" value="Sign Up" />
    </form>
{% endblock %}