{% extends 'Match_Ready/base.html' %}
{% load static %}


{% block title_block %}
    Upcoming Matches
{% endblock %}



{% block body_block %}
    <h1>Upcoming matches for your team</h1>

    <div>
        <div>
            <h2>Home Matches</h2><br>
            <button id="home_matches_button">Show Home Matches</button>
            <button id="away_matches_button">Show Away Matches</button>

            <div id="home_matches" style = "display:none;">
                <ul>
                    {% if home_matches %}
                        {% for match in home_matches %}
                            <li>{{ match }}</li>
                        {% endfor %}
                    {% else %}
                        <p>Your team has no home matches scheduled</p>
                    {% endif %}
                </ul>
            </div>

            <div id="away_matches" style="display:none;">
                <ul>
                    {% if away_matches %}
                        {% for match in away_matches %}
                            <li>{{ match }}</li>
                        {% endfor %}
                    {% else %}
                        <p>Your team has no away matches scheduled</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}